@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-small: 10px;
  --font-regular: 16px;
  --font-family: 'Roboto', sans-serif;
 
  --dark-grey: #ddd;
  --light-grey: #eee;
  --lighter-grey: #fff;

  --light-purple: #ab14ab;

  --light-shadow: rgba(0, 0, 0, 0.4);
  --lighter-shadow: rgba(0, 0, 0, 0.2);
}

html {
  font-size: var(--font-regular);
  font-family: var(--font-family);
}

.container {
  display: grid;
  grid-template-rows: 300 1fr;
  grid-template-columns: 1fr;

  /* margin to make it look good */
  margin: 5% auto;
  width: 50vw;
  box-shadow: 6px 5px 10px -6px var(--light-shadow);
  border: solid 1px var(--light-grey);
}

.title {
  background-color: var(--light-purple);
  color: var(--lighter-grey);
  padding: 1em;
  grid-row: 1;
}

.description {
  grid-row: 2;
  padding: 1em;
  box-shadow: 0 2px 10px var(--lighter-shadow);
}

.italic {
  font-style: italic;
}

.caption {
  text-transform: uppercase;
}

.card {
  padding: 1em;
  position: relative;
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 3px;
}

.card:hover{
  background-color: var(--light-grey);
}

.close-icon {
  position: absolute;
  right: 4px;
  top: 4px;

  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
}

.close-icon:hover,
.close-icon:focus {
 opacity: 0.5;
}

/* Input Box */
.md-input-box {
  border: 0;
  outline: 0;
  padding: 3px;
  border-bottom: solid 0.5px var(--light-purple);
}

.md-input-box:focus {
  border-bottom: solid 2px var(--light-purple);
}

/* Button */
.btn {
  font-size: 1em;
  font-weight: 300;

  padding: 0.5rem;

  background-color: var(--light-purple);
  color: var(--light-grey);
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  color: var(--lighter-grey);
}

.show-add-items {
  margin: 2%;
  display: grid;
  grid-template-rows: 1fr 60vh;
  grid-template-columns: 1fr;
}

/* Add Items related */
.add-items {
  grid-row: 1;
  height: 50px;
}

/* List Items related */
.list-items {
  grid-row: 2;
  overflow-y: auto;
}

input[type=text] {
  width: 100%;
}

@media screen and (max-width: 500px) {
  html {
    font-size: var(--font-small);
  }

  .md-input-box,
  ::placeholder {
    font-size: var(--font-small);
  }

  .container {
    width: 90vw;
  }
}

/* scrollbar enhancement using css */
::-webkit-scrollbar{
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-grey); 
  border-radius: 10px;
}